.navbar-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.cloudcity {
  width: 26rem;
}

@media only screen and (max-width: 456px) {
  .cloudcity {
    margin-top: 5rem;
    width: 100%;
  }
}

.tech-logo {
  padding: 5%;
}

.tech-logo-l {
  padding: 15%;
}

.card {
  height: 100%;
}
