---
import { getCollection } from "astro:content";
import ServiceCard from "./ServiceCard.astro";
import { useI18n } from "../i18n/utils";

const { lang, t } = useI18n(Astro.url);

const servicesFromContent = await getCollection("services", ({ id }) => {
  return id === lang;
});

const services =
  servicesFromContent.length > 0
    ? (servicesFromContent[0]?.data.map((service) => ({
        id: service.id,
        title: service.title,
        icon: service.icon,
        description: service.description,
      })) ?? [])
    : [];
---

<section>
  <h2 id="services">{t("services.title")}</h2>

  <div id="grid">
    {services.map((service) => <ServiceCard {...service} />)}
  </div>
</section>

<style>
  section {
    padding: var(--spacing-xl) var(--spacing-md);
    background-color: var(--color-background-gray);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: var(--spacing-lg);
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
  }

  @media (min-width: 48rem) {
    h2 {
      font-size: 3rem;
    }

    #grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
