---
import { useI18n } from "../i18n/utils";

interface Props {
  name: string;
}

const { name } = Astro.props;

const { translatePath } = useI18n(Astro.url);
---

<a class="tag" href={translatePath(`/blog/tags/${encodeURIComponent(name)}`)}>
  {name}
</a>

<style>
  .tag {
    text-decoration: none;
    background: var(--color-gray-light);
    color: var(--color-gray);
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .tag:visited {
    text-decoration: none;
  }

  .tag:hover {
    background-color: #cecece;
  }
</style>
