---
import { getEntry } from "astro:content";
import ValueCard from "./ValueCard.astro";
import { useI18n } from "../i18n/utils";

const { t, lang } = useI18n(Astro.url);

const valuesEntry = await getEntry("values", lang);
if (!valuesEntry) {
  throw new Error(`No values found for language ${lang}`);
}

const values = valuesEntry.data;
---

<section>
  <h2>{t("values.title")}</h2>
  <div class="row">
    <div class="grid">
      {values.map((value, i) => <ValueCard index={i + 1} {...value} />)}
    </div>
  </div>
</section>

<style>
  section {
    padding: 4rem 0;
  }

  .row {
    display: flex;
    flex-direction: row-reverse;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 4rem 0;
    width: 100%;
    max-width: 80rem;
  }

  @media (min-width: 48rem) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 64rem) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
