---
import { getCollection } from "astro:content";
import WorkCard from "./WorkCard.astro";
import Link from "./Link.astro";
import { useI18n } from "../i18n/utils";
import { getCollectionByLanguage } from "../lib/paths";

interface WorkItem {
  id: string;
  type: string;
  title: string;
  date: Date;
}

const { lang, t, translatePath } = useI18n(Astro.url);

const blogPosts = await getCollection("blog");
const customers = await getCollectionByLanguage("customers", lang);

const workItems: WorkItem[] = [];
blogPosts.forEach((b) => {
  workItems.push({
    id: b.id,
    type: t("work.type.blog"),
    title: b.data.title,
    date: b.data.pubDate,
  });
});
customers.forEach((c) => {
  workItems.push({
    id: c.id,
    type: t("work.type.story"),
    title: c.data.title,
    date: c.data.pubDate,
  });
});

const sortedWorkItems = workItems
  .sort((a, b) => b.date.getTime() - a.date.getTime())
  .slice(0, 4);
---

<section>
  <h2 id="work">{t("work.title")}</h2>

  <div id="grid">
    {sortedWorkItems.map((item) => <WorkCard {...item} />)}
  </div>

  <div id="all-link">
    <Link href={translatePath("/blog")}>{t("cta.showAll")}</Link>
  </div>
</section>

<style>
  section {
    padding: 6rem 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 6rem;
  }

  #all-link {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: 48rem) {
    h2 {
      font-size: 3rem;
      margin-bottom: 4rem;
    }

    #grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 64rem) {
    #grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 80rem) {
    #grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
